/* Web fonts
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Questrial', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Cairo', sans-serif;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Pacifico', cursive;
*/


body{
background-color: #212121;
padding: 10px 0;
color: whitesmoke;
font-family: 'Abel', sans-serif;

}

.sigbox {
color: #0a0a0a;
font-family: 'Montserrat', sans-serif;
}

.title {
color: #e1e1e1;
font-family: 'Pacifico', cursive;
font-size: 36px;
font-size: 3.6vw;
margin-bottom: 40px;
margin-left: 15px;
text-shadow: 3px 3px 1px #000000;
}